#root {
    height: 100%;
    min-height: 100vh;
    background: #1b1c1d;
}
.app-container{
    height: auto;
    min-height: 100vh;
    padding: 3em 0em;
}

.app-grid{
    padding: 2.5em 0em;
    text-align: center;
}

.anteriores-btn{
    margin-top: 1em !important;
}